body {
    background-color: plum;
    font-family: Arial, sans-serif;
}
header{
    color: white;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    background-color: purple;
    width: fit-content;
    margin: 0 auto;
}

p {
    color: white;
    text-align: center;
    font-size: 18px;
}

ul.topnav{
    text-align: center;
    display: flex;  
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: purple;
}
ul.topnav li a {
    display: block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
ul.topnav li a:hover {
    background-color: #747474;
    color: black;
}

ul.skills {
    text-align: center;
    list-style-type: none;
    background-color: purple;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}
ul.skills li{
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

ul.skills li:hover{
    background-color: lightpink;
}

.dropdown{
    display: none;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    background-color: lightpink;
}

ul.skills li:hover .dropdown {
    display: block;
}