body {
    background-color: LightPink;
    font-family: Arial, sans-serif;
}

.center{
        text-align: center;
}
h1 {
    color: white;
}
h2 {
    color: white;
}

p {
    color: white;
    font-size: 18px;
}