body {
    background-color: darkgray;
    font-family: Arial, sans-serif;
}
header{
    color: blackS;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    background-color: white;
    width: fit-content;
    margin: 0 auto;
}

p {
    color: black;
    text-align: center;
    font-size: 18px;
}

ul.topnav{
    text-align: center;
    display: flex;  
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
}
ul.topnav li a {
    display: block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
ul.topnav li a:hover {
    background-color: #747474;
    color: black;
}

ul.skills {
    text-align: center;
    list-style-type: none;
    background-color: #333333;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}
ul.skills li{
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}